 start fonts decorations 

*/
@font-face {
	font-family: 'lato-thin';
	src: url(../fonts/Lato-Thin.ttf);
}
@font-face {
	font-family: 'lato-light';
	src: url(../fonts/Lato-Light.ttf);
}
@font-face {
	font-family: 'lato-regular';
	src: url(../fonts/Lato-Regular.ttf);
}
@font-face {
	font-family: 'lato-bold';
	src: url(../fonts/Lato-Semibold.ttf);
}
/* end font declarations */

/* start preloader */
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 2;
}

#loader {
    display: block;
    position: relative;
    left: 40%;
    top: 40%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #000;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #000;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #000;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/* end preloader */

/* start big wapper */
.big-wrapper{
	font-family: 'lato-regular';
	//background: url('/img/backg.jpg') no-repeat fixed 100%;

	color: white;
}
.big-wrapper a, 
.big-wrapper .has-children ul li a,
.big-wrapper .cd-nav ul li a{
    font-family: 'lato-bold';
}
.big-wrapper a:hover, 
.big-wrapper .has-children ul li a:hover,
.big-wrapper .cd-nav ul li a:hover{
  color: #69707A;
  text-decoration: none;
}
.big-wrapper .has-children ul li a:hover{
    padding-left: 33px;
    color: black;
    transition: all 0.2s ease-in-out;
}
/* end big wrapper */

/* start general styles*/
body{
    position: relative;
}
.general_jumbotron{
    //background: #FCFCFC;
    padding-bottom: 3%;
}
h1,h2{
    padding: 0;
    margin: 0;
    font-family: 'lato-light';
    color: black;
    text-align: center;
}
h3,h4,h5{
    font-family: 'lato-regular';
	color: #18EE6C;
    text-align: center;
}
em{
    font-style: italic;
}
a{
    color: #262729;
}
a:hover {
    cursor: pointer;
}
.badge{
    background: #F5F5F5;
    text-transform: lowercase;
    color: green;
}
.badge a{
    color: #18EE6C;
}
.count_linked_reports_badge{
    position: absolute;
    top: 0;
    right: 5;
    color: #4B8BF5;
    background: transparent;
    font-weight: bold;
    font-size: 0.7em;
    padding: 1%;
    border-radius: 10em;
}
.nav li a{
    font-family: 'lato-regular';
    color: #33383E;
}
.nav li a:hover{
    color: #33383E;
}
.nav li a .active{
    color: #33383E;
}
.alert{
    margin-top: 2%;
    text-align: center;
    border-radius: 0;
}
.dropdown .dropdown-menu{
    height: auto;
    max-height: 200px;
    overflow: auto;
}
/* end general styles*/

/* start icons */
.fa-automobile{
    color: #F7C953;
}
.fa-tablet{
    color: #4E89DA;
}
.fa-shopping-bag{
    color: #09D7C1;
}
.fa-tv{
    color: #BB824E;
}
.fa-money{
    color: #8CD362;
}
.fa-users{
    color: #9AD4E0;
}
.fa-user
,.fa-map{
    color: #9AD4E0;
}
.fa-bullhorn
,.fa-link
,.fa-bell-o
,.fa-comment-o{
    color: #16497B;
}
.fa-facebook-square{
    color: #16497B;
}
.fa-twitter-square{
    color: #00B2B2;
}
.fa-google-plus-square{
    color: #FF4848;
}
.fa-whatsapp{
    color: #3AC26F;
}
.fa-lightbulb-o{
    color: #F6EA00;
}
/* end icons*/

/* start upper div */
.upper_div{
	//background: white;
	color: #1C1F22;
}
.upper_div .has-children >a{
    font-family: verdana;
    text-transform: capitalize;
    //color: #69707A;
    //letter-spacing: 1px;
    font-size: 1em;
}
.upper_div .has-children >a:hover{
    color: black;
}
.upper_div .account a{
    //color: #1CC663;
}
.upper_div .account ul a{
	color: grey;
}
.upper_div h1
,.upper_div h2{
    color: #3E454C;
    text-align: center;
}
.upper_div h3
,.upper_div h4{
    font-family: 'lato-regular';
	color: green;
    text-align: center;
}
.upper_div .btn-primary{
	background: #33383E;
    border: none;
}
.upper_div .panel{
	margin-top: 3%;
}
.upper_div .panel .panel-heading{
    background: #33383E;
    color: white;
	text-align: center;
    font-family: 'lato-regular';
}
.upper_div .general_menu{
	font-family: 'lato-regular';
}
.upper_div .homepage_menu{
	text-align: center;
	font-family: 'lato-regular';
}
/* end upper div */

/* start founders */
.founders{
	text-align: center;
}
.founders ul li{
	display: inline-block;
	color: #18EE6C; 
}
.founders h4{
	font-family: 'lato-regular'; 
}
/* start founders */

/* start lower div */
.lower_div {
	height: 50%;
    color: #33383E;
}
.lower_div .quicklinks{
	padding-top: 2%;
}
.lower_div .quicklinks ul li{
	list-style: none;
}
.lower_div .quicklinks ul li a{
    font-family: arial;
    font-weight: bold;
    font-size: 0.9em;
    letter-spacing: 1px;
	padding: 3%;
	text-decoration: none;
	color: #33383E;
}
.lower_div .quicklinks ul li a:hover{
    text-decoration: underline;
    transition: all 0.2s ease-in-out;
}
.lower_div .copyright{
    color: grey;
	padding-top: 2%;
	text-align: center;
	font-family: 'lato-bold';
	font-size: 0.7em;
}
/* end lower div */


/* start welcome */
.welcome{
    background: #4D4F6C;
    padding: 3% 0;
    margin-bottom: 1%;
}
.welcome .missing_person_intro{
    //background: #FFFFFF;
    text-align: center;
    padding: 10% 0;
}
.welcome .missing_person_intro h1{
    
}
.welcome .missing_person_intro button{
    background: #4D4F6C;
    text-align: center;
    font-family: 'lato-regular';
    font-size: 1.3em;
    color: #FCFCFC;
    margin-bottom: 3%;
    padding: 3% 5%;
    width: 50%;
    box-shadow: 1px 1px 5px grey;
}
.welcome .missing_person_intro button:hover{
    background: #FCFCFC;
    color: #4D4F6C;
    transition: all 0.2s ease-in-out;
}
.welcome h1{
    color: #FFFFFF;
    font-size: 3em;
    margin-bottom: 2%;
}
.welcome h1 span{
    color: #FFFFFF;
    font-size: 0.5em;
    margin-bottom: 2%;
    text-decoration: underline;
}
.welcome h2{
    color: #FFFFFF;
    letter-spacing: 2px;
    font-size: 1.7em;
    font-family: 'lato-regular';
}
.welcome .lost
,.welcome .found{
    color: #BF8963;
}
.welcome .connect_to{
    color: #BF8963;
    font-size: 5em;
    padding-top: 20%;
}
.welcome .trakeet_form{
    font-size: 0.8em;
}
/* end welcome */

/* start homepage_reports */
.homepage_reports h1{
    color: #4D4F6C;
    padding: 0.3em;
}
.homepage_reports h1 span{
    padding: 0.1em 1em;
    font-family: 'lato-regular';
    font-size: 0.5em;
    background: #4D4F6C;
    color: #FFFFFF;
    border-radius: 3px;
    border: 1px solid #4D4F6C;
}
.homepage_reports h1 span:hover{
    background: #FFFFFF;
    color: #4D4F6C;
    transition: all 0.2s ease-in-out;
}
/* end homepage_reports */

/* start dashmenu */
.dashmenu{
    margin-top: 1em;
    padding: 0;
}
.dashmenu .navbar-brand{
    color: brown;
    opacity: 0.7;
}
.dashmenu .navbar-collapse ul li div{
    padding: 1em 0;
}
.dashmenu .navbar-collapse ul li div a{
    padding: 1em;
}
.dashmenu .navbar-collapse ul li .switch_btn{
    padding: 0.2em 1em;
    font-family: 'lato-bold';
    //font-size: 0.5em;
    background: #4D4F6C;
    color: #FFFFFF;
    border-radius: 3px;
    border: 1px solid #4D4F6C;
}
.dashmenu .navbar-collapse ul li .switch_btn:hover{
    background: #FFFFFF;
    color: #4D4F6C;
    transition: all 0.2s ease-in-out;
}
.dashmenu .affix{
    top: 55;
    right: 0;
    width: 86%;
    z-index: 2 !important;
}
.dashmenu .affix ~ .container-fluid{
    position: relative;
    top: 50px;
}
/* end dashmenu */


/* start form-control */
.trakeet_form .form-control
,.trakeet_form .input-group
,.trakeet_form .input-group-addon
,.trakeet_form #last_seen_area_list{
    border-radius: 0;
    border: none;
}
.trakeet_form{
    color: grey;
    margin-top: 1%;
    background: #ffffff;
    padding: 0 3% 3% 3%;
    border-radius: 0.5em;
    
}
.trakeet_form .fa{
    color: #74C35A;
}
.trakeet_form .form-control{
    min-height: 50px;
    background: #EEEEEE;
    font-family: 'lato-regular';
    font-size: 1.2em;
    z-index: 1;
}
.trakeet_form .btn{
    background: #449D44;
}
.trakeet_form .btn:hover{
    background: #74C35A;
}
.trakeet_specific_edit_form{
    background: none;
    padding: 0;
}
.hidden_field{
    display: none;
}
/* end form-control */


/* start form_cover view */
.form_cover{
    //background: #74C35A;
}
.form_cover .alert{
    background: #33383E;
    color: white;
	font-size: 0.8em;
	border: none;
	border-radius: 1em;
}
.form_cover .alert h3{
    padding: 0;
    margin: 0;
}
.form_cover .alert li{
	font-family: 'lato-bold';
	list-style: none;
}
/* end form_cover view */

/* start tab-pane */
.tab-pane{
    padding-top: 1%;
    background: #fff;
}
.tab-pane .col-md-12{
    background: #fff;
    height: auto;
}

/* end tab-pane */

/* start comments*/
.comments_box{
    padding-top: 1%;
}
.comment_li{
    margin: 1% 5%;
    background: #EEEEEE;
    padding: 2%;
    overflow: auto;
    border-radius: 0.5em;
}
.comment_li .comment_user{
    color: #449D44;
    font-family: 'lato-bold';
}
.comment_li .comment_message{
    background: #FCFCFC;
    margin: 0 0 0 1%;
    padding: 1%;
    border-radius: 0.2em;
}
.comment_li .comment_delete{
    float: right;
    font-size: 0.7em;
    color: #449D44;
    font-family: 'lato-bold';
    padding: 0.3em 1em;
    background: #E6E6E6;
    border: none;
    border-radius: 0.3em;
}
.comment_li .comment_delete:hover{
    color: green;
    background: #E2E2E2;
    cursor: pointer;
}
.comment_li .comment_time{
    float: right;
}
/* end comments*/

/* start item images */
#item_images {
    padding:2% 0;
    text-align: center;
}
#item_images .item_image_thumbnail{
    position: relative;
}
#item_images .item_image_thumbnail img{
    margin-bottom: 1em;
    margin-left: 1em;
}
#item_images .item_image_thumbnail .delete_button{
    opacity: 0.9;
    position: absolute;
    bottom: 50;
    left: 50;
    margin-bottom: 45%;
    margin-left: 45%;
    background: #74C35A;
    border: none;
    padding: 1% 3%;
    border-radius: 0.3em;
}
#item_images .item_image_thumbnail .delete_button:hover{
    opacity: 1;
    background: green;
}
#item_images .item_image_thumbnail .delete_button .fa{
    color: white;
}

/* end item images */

/* start report */
.report_cover{
    margin-bottom: 2%;
}
.report_cover .closed
,.report_focus .closed{
    color: #FF2525;
}
.report_cover .report_thread{
    background: white;
    color: grey;
    border: 1px solid #f5f5f5;
    padding: 1em;
    box-shadow: 1px 1px 5px #f5f5f5;
    text-align: center;
    height: 400px;
}
.report_cover .report_thread a{
    color: grey;
}
.report_cover .report_thread:hover{
    box-shadow: 1px 1px 5px #DBD3DD;
}
.report_cover .report_thread img{
    width: 70%;
    margin: 0 auto;
}
.report_cover .report_thread .report_header{
    font-family: 'lato-bold';
    font-size: 0.8em;
    overflow: auto;
    margin-bottom: 10px;
}
.report_cover .report_thread .report_created_at{
    float: right;
}
.report_cover .report_thread .status{
    text-transform: capitalize;
    text-align: left;
    float: left;
}
.report_cover .report_thread .report_response_actions {
    margin-bottom: 10%;
}
.report_cover .report_thread .report_response_actions .action
,.report_focus .action
{
    box-shadow: 1px 1px 5px #E8E8E8;
    border: 1px solid #E8E8E8;
    padding: 0.5em 0.8em;
    border-radius: 8em;
    color: #3AC26F; 
    margin: 0 5px;
    background: #FCFCFC;
}
.report_cover .report_thread .report_response_actions .link
,.report_focus .link
{
    position: relative;
    color: #669CF6; 
}
.report_cover .report_thread .report_response_actions .response1
,.report_focus .response1
{
    color: #09D7C1; 
}
.report_cover .report_thread .report_response_actions .close_report
,.report_focus .close_report
{
    color: #F7C953; 
}
.report_cover .report_thread .report_response_actions .dropdown .social-buttons
{
    right: -50;
    text-align: center;
}
.report_cover .report_thread .report_response_actions .dropdown .social-buttons .fa
,.report_focus .social-buttons .fa
{
    font-size: 2em;
    margin: 0 3%;
}
.report_cover .report_thread .report_response_actions .dropdown .social-buttons .fa:hover
,.report_focus .social-buttons .fa:hover
{
    color: #3AC26F;
}
.report_cover .report_thread .report_last_seen_date{
    font-size: 0.99em;
}
.report_cover .report_thread .report_last_seen_date span{
    color: green;
}
.report_cover .report_thread .report_last_seen_state{
    text-transform: capitalize;
}
.report_cover .report_thread .report_name{
    color: #000;
    font-family: 'lato-bold';
    letter-spacing: 1px;
    text-transform: capitalize;
}

.report_focus .nav-tabs li a{
    text-transform: uppercase;
    font-family: 'lato-bold';
    font-size: 0.8em;
    letter-spacing: 1px;
}
.report_focus h3{
    color: #4D4F6C;
    padding: 0 4em;
}
.report_focus .nav-tabs {
    margin: 3% 0;
}
.report_focus .playground {
    text-align: center;
}
.report_focus .playground div {
    padding: 1% 0 3% 0;
}
.report_focus .default_img{
    width: ;
}
.report_focus .table tr td{
    overflow: auto;
    text-transform: capitalize;
}
.report_focus .table tr td .left{
    float: left;
    padding: 1% 4%;
}
.report_focus .table tr td .right{
    float: right;
    padding: 1% 4%;
}
.report_focus section{
    margin-top: 20px;
}
.report_focus .count_linked_reports_badge{
    padding: 0.3em;
}
/* end report */

/* start modal */
.modal-content{
    height: 450px;
    overflow: auto;
}
.modal-content .modal-header
,.modal-content .modal-footer
{
    background: #FCFCFC;
}
.modal-content h3{
    font-family: 'lato-light';
    text-transform: capitalize;
}
.modal-content .close{
    opacity: 1;
    background: #92EE6C;
    color: white;
    font-size: 0.9em;
    padding: 3% 3.5%;
    border-radius: 100px;
}
.linked_report_modal .table tr td{
    font-size: 0.8em;
}
/* end modal */

/* start notifications */
.cd-side-nav ul .notifications ul li a {
    overflow: auto;
    border-bottom: 1px solid #E8E8E8;
}
.cd-side-nav ul .notifications ul li a .created_at {
    float: right;
    font-size: 0.8em;
}
.cd-side-nav ul .notifications ul li .view_all {
    text-align: center;
    margin: 0;
    padding: 0;
    //margin-bottom: -10px;
    border: 1px solid #E8E8E8;
    border-radius: 0.4em;
}
#all_notifications .list-group .list-group-item{
    overflow: auto;
    text-align: left;
}
#all_notifications .list-group a{
    text-decoration: none;
    text-transform: capitalize;
    padding: 1em;
    color: grey;
}
#all_notifications .list-group .list-group-item .created_at {
    float: right;
    font-size: 0.8em;
}
/* end notifications */

/* start pagination */
.pagination_cover{
    text-align: center;
}
.pagination li .fa
{
    color: grey;
    font-size: 1.5em;
}
/* end pagination */

/* start dropzone */
.dropzone{
    border: 3px dotted green;
    border-radius: 2em;
}
.dropzone .dz-message{
    font-family: 'lato-bold';
    letter-spacing: 1px;
}
.dropzone .dz-message span{
    font-family: 'lato-light';
    font-size: 0.9em;
}
/* end dropzone */

/* start search results */
.search_results_cover{
    padding-top: 2%;
    text-align: center;
}
.search_results_cover a{
    color: grey;
}
.search_results_cover a:hover{
    color: black;
}
.search_results_cover .results_error_message{
    font-family: 'lato-regular';
    letter-spacing: 1px;
    color: #4D4F6C;
}
.search_results_cover .results_info_message{
    font-family: 'lato-regular';
    letter-spacing: 1px;
    color: #4D4F6C;
    font-size: 0.5em;
}
.search_results_cover .form-control{
    letter-spacing: 2px;
}
.search_result{
    min-height: 100px;
    background: #FCFCFC;
    padding: 2%;
    margin-bottom: 2%;
    box-shadow: 1px 1px 5px #E8E8E8;
}
.search_result .report_thread_pics{
    text-align: center;
}
.search_result img{
    max-height: 70px;
    margin: 0 auto;
}
.search_result .details{
    font-family: 'lato-regular';
    text-align: left;
}
/* end search results */

/* start how it works */
.how-it-works h1{
    font-family: 'lato-bold';
}
.how-it-works .segment{
    padding: 5% 0;
}
.how-it-works .odd{
    background: #4D4F6C;
    overflow: auto;
}
.how-it-works .odd h1{
    color: #BF8963;
}
.how-it-works .odd h5{
    font-family: 'lato-bold';
    text-align: left;
    color: #FCFCFC;
}
.how-it-works .odd .description > .fa{
    font-size: 6em;
    color: #69707A;
    float: left;
    margin-right: 2%;
}
.how-it-works .segment .description{
    color: grey;
    font-family: 'lato-regular';
    font-size: 1.5em;
}
.how-it-works .segment .connect_description{
    font-size: 1.1em;
    padding: 3%;
    background: white;
    border: 2px dotted #3E454C;
    border-radius: 5px;
}
.how-it-works .odd .description{
    color: #E8F8F8;
    font-size: 1.4em;
}
.how-it-works .social-buttons{
    text-align: center;
}
.how-it-works .social-buttons .fa{
    font-size: 4em;
}
/* end how it works */

/* start faq */
.faq h1{
    font-family: 'lato-Regular';
    color: #4D4F6C;
}
.faq > div{
    padding: 5% 0;
}
.faq .segment{
    color: grey;
    font-family: 'lato-regular';
    font-size: 1.5em;
}
.faq .question{
    color: #000000;
}
/* end faq */

/* start terms and conditions */
.terms_and_conditions{
    text-align: center;
}

.terms_and_conditions h1
,.disclaimer h1
,.privacy h1
,.terms_and_conditions section h4
,.disclaimer section h4
,.privacy section h4
{
    font-family: 'lato-regular';
    text-transform: capitalize;
}
.terms_and_conditions section h4
,.disclaimer section h4
,.privacy section h4
{
    color: grey;
}
/* end terms and conditions */

/*start 768 media query*/
@media only screen and ( max-width: 768px ) {
    .welcome .items_intro{
        display: none;
    }
    .dashmenu {
        font-size: 0.8em;
    }
    .dashmenu .navbar-collapse ul li .switch_btn {
        padding: 0.2em;
    }
}
/*end 768 media query*/

/*start 480 media query*/
@media only screen and ( max-width: 480px ) {
    .welcome .connect_to{
        font-size: 2em;
    }
    .welcome .missing_person_intro button{
        font-size: 1.2em;
        width: 70%;
    }
    .dashmenu {
        font-size: 1em;
    }
    .dashmenu .affix{
        top: 0;
        width: 100%;
    }
    .dashmenu .navbar-collapse ul li .switch_btn {
        padding: 0.2em 1em;
    }
    .report_cover{
        padding: 0;
    }
    .report_focus h3{
        letter-spacing: 0;
        font-family: verdana;
        padding: 0;
        color: #4D4F6C;
        font-size: 0.99em;
    }
    .nav-tabs.nav-justified>li {
        float: left;
    }
}
/*start 360 media query*/
@media only screen and ( max-width: 360px ) {
  #loader-wrapper {
        //top: 48;
        //left: 10;
    }
    #loader{
        //top: 30%;
        //left: 45%;
    }
    .report_focus .nav-tabs li a {
        font-size: 0.7em;
        letter-spacing: 0;
        padding: 1em;
    }
    .homepage_reports h1 {
        padding: 0.4em;
        font-size: 1.7em;
    }
}
/*end 360 media query */